@font-face {
    font-family: 'Questrial';
    src: local('Questrial'), local('Questrial-Regular'), url('../fonts/questrial.woff2') format('woff2'), url('../fonts/questrial.woff') format('woff'), url('../fonts/questrial.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
